<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
  <meta charset="UTF-8">
  <title>Bookclub | Welcome</title>
  <!--  Bootstrap StyleSheet CDN -->
  <div th:insert="~{fragments/cssHead :: head}"></div>
</head>

<body class="d-flex flex-column h-100">
  <div th:insert="~{fragments/header :: header}"></div>

  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Book Club</h1>
          <p class="lead text-muted">
            Welcome to the Book Club app, your "one stop
            shop" for all of your book club needs. Below you will find a list of
            this months top 10 favorite books. Select the book to see it's details.
          </p>

          
        </div>
      </div>
      <div class="col" th:each="book : ${books}">
        <div class="card shadow-sm">
          <div class="card-body">
              <p class="card-text">
                  <span th:text="${book.getTitle()}"></span>
                  <br />
                  <small class="text-muted"><em th:text="${book.getDescription()}"></em></small>
              </p>

              <div class="d-flex justify-content-between align-items-center">
                  <ul th:each="author : ${book.getAuthors()}" style="list-style-type: none;">
                      <li>
                          <small class="text-muted" th:text="${author}"></small>
                      </li>
                  </ul>
                  <div class="btn-group">
                      <a href="#" th:href="@{/{id}(id=${book.getIsbn()})}" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
              </div>
          </div>
      </div>
    </section>
  </main>

  <div class="footer mt-auto"> 
    <div th:insert="~{fragments/footer :: footer}"></div>
    <div th:insert="~{fragments/scriptFooter :: scriptFooter}"></div>
  </div>
</body>

</html>