<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
  <meta charset="UTF-8">
  <title>Bookclub | Welcome</title>
  <!--  Bootstrap StyleSheet CDN -->
  <div th:insert="~{fragments/cssHead :: head}"></div>
</head>

<body class="d-flex flex-column h-100">
  <div th:insert="~{fragments/header :: header}"></div>

  <main>
    <section class="py-5 text-center container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Book of the month details</h1>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" th:text="${book.getTitle()}"></h4>

              <div class="card-subtitle text-muted">
                Pages: <span th:text="${book.getNumOfPages()}"></span>
              </div>

              <br />

              <div class="card-text">
                <p>
                  <strong>Description:</strong> <br /><span th:text="${book.getDescription()}"></span>
                </p>
                <strong>Web Link:</strong>
                <p>
                  <a href="#" target="_blank" th:href="${book.getInfoUrl()}" th:text="${book.getInfoUrl()}"></a>
                </p>
              </div>
            </div>
            <br />
            <a href="/" th:href="@{/}">Return to books</a>
          </div>
    </section>
  </main>
  <div class="footer mt-auto">
    <div th:insert="~{fragments/footer :: footer}"></div>
    <div th:insert="~{fragments/scriptFooter :: scriptFooter}"></div>
  </div>
</body>

</html>