<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
  <meta charset="UTF-8">
  <title>Bookclub | My Wishlist</title>
  <div th:insert="~{fragments/cssHead :: head}"></div>
</head>

<body class="d-flex flex-column h-100">
  <div th:insert="~{fragments/header :: header}"></div>

  <main>
    <div class="container py-5">
      <div class="row">
        <div class="col-12">
          <h1>My Wishlist</h1>
        </div>
        <div class="col-12">
          <a href="/wishlist/new" th:href="@{/wishlist/new}" class="btn btn-outline-secondary float-end mb-3">New
            Wishlist Item</a>
          <div id="wishlist"></div>
        </div>
      </div>
    </div>

  </main>
  <div class="footer mt-auto">
    <div th:insert="~{fragments/footer :: footer}"></div>
    <div th:insert="~{fragments/scriptFooter :: scriptFooter}"></div>
  </div>
  <script>
    //jQuery AJAX call would suffice here as well. Is class HttpClient ECMA Script 5 compliant as well for dated browsers such as IE? I need to go back and research
    //https://www.freecodecamp.org/news/a-practical-es6-guide-on-how-to-perform-http-requests-using-the-fetch-api-594c3d91a547/
    class HttpClient { //define a class called HttpClient which will issue an asyncronous GET and return data from API call
      async getBooks(url, params = "") {//create an async method named getBooks accepting two params //https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function
        url = new URL(url); //set the url param as a URL object interface which can parse, construct, normalize, and encode URLs
        url.search = new URLSearchParams(params).toString(); //pass the query string to the URL interface
        const res = await fetch(url.toString(), { method: 'GET' }); //create a fetch that returns a 'promise' response object and stores in var res. The async/await is also in C# apps
        return res.json(); //return the response object as JSON
      }
    }
    function buildTable(books) {
      let tableString = `<table class="table"><tr><th>ISBN</th><th>Title</th><th>Functions</th></tr>`; //create the html output string
      for (let book of books) {
        tableString += `<tr>
                          <td>${book.isbn}</td>
                          <td>${book.title}</td>
                          <td>
                            <a href="/wishlist/${book.id}" th:href="@{/wishlist/${book.id}}">Edit</a> | 
                            <a href="/wishlist/remove/${book.id}" th:href="@{/wishlist/remove/${book.id}}" 
                              onclick="javascript:return confirm('Are you sure you wish to delete book: ${book.title}?')">Delete</a>
                          </td>
                        </tr>`; //use string interpolation to display book info
      }
      return tableString += `</table>`; //close the table tag out and return
    }

    //Code below to to sequentially fire after DOM loads elements, async will fire in own thread?
    const http = new HttpClient(); //instantiate the HttpClient class, invoking an async get/fetch api

    if (location.hostname === "localhost" || location.hostname === "127.0.0.1") {
      http.getBooks("http://localhost:8080/api/wishlist").then(res => { //handle returned promise object
        document.getElementById("wishlist").innerHTML = buildTable(res) //if success call build table method and pass book list
      }).catch(e => {
        alert(e); //alert the user of the error that occurred
      });
    }else{
      http.getBooks("https://phillips-bookclub.herokuapp.com/api/wishlist").then(res => { //handle returned promise object
        document.getElementById("wishlist").innerHTML = buildTable(res) //if success call build table method and pass book list
      }).catch(e => {
        alert(e); //alert the user of the error that occurred
      });
    }
  </script>
</body>

</html>